<ul>
  <h1>xbAV</h1>
  <% @tweets_xbav.each do |tweet| %>
  <li><%= tweet.full_text %>
  <% end %>
</ul>

<ul>
  <h1>GitHub</h1>
  <% @tweets_github.each do |tweet| %>
  <li><%= tweet.full_text %>
  <% end %>
</ul>

<ul>
  <h1>VueJS</h1>
  <% @tweets_vuejs.each do |tweet| %>
  <li><%= tweet.full_text %>
  <% end %>
</ul>
